<html>
<head>
		<meta charset="utf-8"></meta>
		<link rel="stylesheet" href="https://get.mavo.io/mavo.css"/>
		<link rel="stylesheet" href="css\style.css"/>
    	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/F35CE579-A892-9F46-8644-AD712C22D66A/main.js" charset="UTF-8"></script></script><script src="https://get.mavo.io/mavo.js"></script>
</head>
<body>
	<div  mv-app="Informática 2" mv-storage="https://github.com/kedspb/mavosystem">
		<header>
		<h2> Informática 2</h2>
		</header>

	<main>
		<div class="novamaquina" property="novamaquina" mv-multiple >
			<ul>
				
				
				<div class="coluna0">
				</div>
				
								
				<div class="coluna1">
					<li property="maquina" ></li>
				</div>
	
				<div class="coluna2">
					<li property="tombo" ></li>
				</div>
	
				<div class="coluna3">
								
					<span hidden property="situacao" data-segtype="[estado]" mv-edit="#selectsituacao" style="border:3px solid orange; "></span><!--oculta a caixa de opções do select quando nenhum usuario logado-->
					
						<form class="mv-logged-in" id="formulariostat"><!--permite mostrar as opções do select somente a usuarios logados-->
						<select id="selectsituacao" property="estado" >
							
							<option class="opcao" value="operacional">Operacional</option>
							<option class="opcao" value="off">Sem rede</option>
							<option class="opcao" value="recolhida">Recolhida a CALIN</option>
							
						</select>
						</form>
					
					
					</div>
				
				
				
				<!-- uso de icones e construção da coluna 4-->
				<div mv-if="estado = operacional">
					<span class="mv-logged-out"><div class="coluna3" id="exbstat" > Operacional</div></span>
						<div class="coluna4">
							<img src=".\imagens\hardware\icons8-estação-de-trabalho-48.png" />
						</div>
						
						<div class="coluna5" >
							<li property="infos" style="background-color:green;">
								<input class="entradainfos" type="text" size="100" placeholder="altere as informações sobre o status" >
							</li>
						</div>
				</div>
				
				<div mv-if="estado = off">
						<span class="mv-logged-out"><div class="coluna3" id="exbstat"> OFFLINE</div></span>
						<div class="coluna4">
							<img src=".\imagens\hardware\icons8-rede-desligada-48.png" />
						</div>
						
						<div class="coluna5">
							<li property="infos" style="background-color:orange;">
								<input class="entradainfos" type="text" size="100" placeholder="altere as informações sobre o status"  >
							</li>
						</div>
				</div>
				
				<div mv-if="estado = recolhida">
						<span class="mv-logged-out"><div class="coluna3" id="exbstat"> RECOLHIDA</div></span>
						<div class="coluna4">
							<img src=".\imagens\hardware\icons8-processador-48.png" />
						</div>
						
						<div class="coluna5" >
							<li property="infos" style="background-color:red;">
								<input class="entradainfos" type="text" size="100" placeholder="altere as informações sobre o status">
							</li>
						</div>
				</div>
				
				
				<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
				<!--<form id="icones" property="status">	
					<input name="iconestatus" type="radio" id="bom" value="ok"><img src=".\imagens\hardware\icons8-estação-de-trabalho-48.png" />
					<input name="iconestatus" type="radio" id="rede"value="off"><img src=".\imagens\hardware\icons8-rede-desligada-48.png" />
					<input name="iconestatus" type="radio" id="ruim" value="recolhido"><img src=".\imagens\hardware\icons8-desligamento-do-servidor-48.png" />
				</form>-->
				
				
			</ul>
		</div>
	
				
    </main>
	</div>
		
			
		
	

<footer>
		<div id="infotecnicas">
			<div id="software">
			<a class="link" href="#"><img class="img" src=".\imagens\softwares.png"></a>
			</div>
		
			<div id="hardware">
			<a class="link" href="#"><img class="img" src=".\imagens\hardware.png"></a>
			</div> 
		</div>
<footer>

</div>
</html>